<div class="content-section fields-section" id="fieldsSection">
  <h4 class="content-section-head"><span>Fields</span></h4>
  <div class="form">
    <div class="field-group entity-fields organization-fields">
      <h5 class="field-group-head"><span>Organization Fields</span></h5>
      <% if @organization_fields.empty? %>
        <p>none</p>
      <% else %>
        <div class="records">
          <table>
            <tr>
              <th>Name</th>
              <th>Style</th>
              <th>Scoped by</th>
              <th></th>
            </tr>
            <% @organization_fields.each do |field| %>
              <tr>
                <td>
                  <%= link_to(field.name, "/advisors/fields/manage/#{field.id}") %>
                </td>
                <td>
                  <%= field.style %>
                </td>
                <td>
                  <%= field.scoped_by_class %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      <% end %>
    </div>
  </div>
  <%= link_to("New Field", "/advisors/fields/manage/new") %>
</div>

